extends index.pug

block content
    .container.d-flex.justify-content-center.align-items-center
        .col-5
            form#verifyForm.form-padding
                h4.text-center.title Email Confirmation
                .form-group
                    label(for='email') Email address
                    .input-group
                        .input-group-prepend
                            i.far.fa-envelope.input-group-text
                        input.form-control#email(type='email' placeholder="Enter your Email Address" required)
                .form-group
                    label(for='code') Verification Code
                    .input-group
                        .input-group-prepend
                            i.fas.fa-unlock.input-group-text
                        input.form-control#code(type='text' required)
                .text-right
                    span Need &nbsp;
                        a(href='#') Log In ?
                button.btn.btn-primary.btn-block(type='submit') Verify

block scripts
    script(type='text/javascript' src='/js/verify-helper.js')
